In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from collections import Counter
from sklearn.feature_selection import mutual_info_classif
warnings.filterwarnings('ignore')

from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
train = pd.read_csv("/content/train(1).csv")
train = train.sample(frac=1).reset_index(drop=True)
# train.head()

In [3]:
train.shape

trainclass1 = train.loc[train['target'] == 1]
trainclass0 = train.loc[train['target'] == 0]

print(trainclass1.shape)
print(trainclass0.shape)

trainclass1head500 = trainclass1.head(10000)
trainclass0head500 = trainclass0.head(10000)

frames = [trainclass1head500, trainclass0head500]
train1 = pd.concat(frames)

train1.shape

(1091, 59)
(27942, 59)

(11091, 59)

In [4]:
X = train1[train.columns[2:]]
y = train1[train.columns[1:2]]

In [5]:
X.head()

     ps_ind_01  ps_ind_02_cat  ...  ps_calc_19_bin  ps_calc_20_bin
18           1              1  ...             1.0             0.0
26           7              1  ...             0.0             0.0
62           6              1  ...             1.0             0.0
144          0              2  ...             1.0             0.0
150          4              1  ...             0.0             1.0

[5 rows x 57 columns]

Warning: Total number of columns (57) exceeds max_columns (20) limiting to first (20) columns.

In [6]:
y.head()

     target
18        1
26        1
62        1
144       1
150       1

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=123, stratify = y)

In [8]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=1000)

In [9]:
feature_imp = pd.Series(clf.feature_importances_).sort_values(ascending=False)
feature_imp
topfeatures = pd.DataFrame(feature_imp)
topfeatures.head(10)

           0
34  0.055820
20  0.047797
35  0.040571
50  0.035150
31  0.035020
46  0.033919
14  0.033517
19  0.032221
47  0.031984
39  0.030179

In [10]:
#saving top features along with id and target variables
topfeatures = train.iloc[:,[0,1,34,20,35,31,14,2,46,50,38,47]]

topfeatures.to_csv("topfeatures.csv", sep=',', index=False, encoding='utf-8') 
print("Top 10 features along with ID and Target are saved as topfeatures.csv in the current working directory\n")

Top 10 features along with ID and Target are saved as topfeatures.csv in the current working directory

In [11]:
topfeatures.head()

      id  target  ps_car_11  ...  ps_calc_12  ps_car_15  ps_calc_09
0   4550       0          3  ...         1.0   3.316625         1.0
1  63474       0          2  ...         1.0   3.605551         2.0
2  42288       0          2  ...         1.0   3.741657         2.0
3   7803       0          3  ...         1.0   2.645751         2.0
4  15442       0          3  ...         1.0   2.645751         3.0

[5 rows x 12 columns]